<html>
	<body>
		<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="CollegeChatbot"
  agent-id="a10075b3-193e-4a57-9647-5e8ab934f0e1"
  language-code="en"
></df-messenger>
		<center>
		<h1>Welcome!</h1>
		<form action="/registrationForm" method="GET">
			<p>New user? Click here</p><button type="submit">Register</button>
		</form>
		<form action="/login">
			<p>Exister user? Click here</p><button type="submit">Login</button>
		</form>
		</center>
	</body>
</html>

