<html>

        <body>
		<center>
		<form action="../dashboard" method="POST">
    <h1>Login</h1>
                        <p>Please fill in this form to login into your account.</p>
    <label for="username"><b>Username</b></label>
    <input type="text" size="50" placeholder="Enter your username" name="username" required>
    <br><br>
    <label for="password"><b>Password</b></label>
    <input type="password" size="50" placeholder="Enter your password" name="password" required>
    <br><br>
    <button type="submit" name="login_btn" value="login">Login</button>
		</form>
		</center>
        </body>
</html>
