<html>
<body>
	<center>
<form action="" method="POST">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>

    <label for="username"><b>Username</b></label>
    <input type="text" size="50" placeholder="Enter username" name="username" id="username" required>
    <br><br>
    <label for="password"><b>Password</b></label>
    <input type="password" size="50" placeholder="Enter Password" name="password" id="password" required>

    <br><br>
    <button type="submit">Register</button>
  
</form>
	</center>
</body>
</html>
